@model MantenedoraCalidad.Models.MODELO

@{
    ViewBag.Title = "Crear Modelo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    body {
        background-color: #dfe7ea;
    }
</style>
<h2>Crear Modelo</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @{
            string Codigo = "Codigo Modelo:";
            string Modelo = "Descripcion Cocina";
            string Familia = "Descripcion Cocina";
            string Marca = "Descripcion Cocina";

        }
        @Html.LabelFor(model => Codigo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10" >
            @Html.EditorFor(model => model.id_modelo, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
            @Html.ValidationMessageFor(model => model.id_modelo, null, new { @class = "text-danger" })

        </div>
    </div>

    <div class="form-group ">
        @Html.LabelFor(model => Modelo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10" >
            @Html.EditorFor(model => model.nom_modelo, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
            @Html.ValidationMessageFor(model => model.nom_modelo, null, new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => Familia, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.nom_familia, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
            @Html.ValidationMessageFor(model => model.nom_familia, null, new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => Marca, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.nom_marca, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
            @Html.ValidationMessageFor(model => model.nom_marca, null, new { @class = "text-danger" })
        </div>
    </div>

    <div class="flex-sb-m w-full p-b-30">

        <div>
            @{
                if (!string.IsNullOrEmpty(ViewBag.Message))
                {

                    //message tiene un valror

                    <div class="alert alert-danger">@ViewBag.Message</div>

                }

            }
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Crear" class="btn btn-success" />
        </div>
    </div>
</div>
}

<button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Index","MODELO")'">
    REGRESAR AL LISTADO
</button>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

